*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 20px 22px;
}
.nav-link{
    margin-left: 20px;
}
.nav-item:last-child{
    font-weight:bold;
}

.contain{
    height: 88vh;
    width: 100%;
    background-image: url("media.png");
    background-position: center;
    background-size: cover;
    padding: 80px 40px;

}
.left-box{
    width: 700px;
    text-align: left;
}

h1{
    font-size: 75px;
    line-height: 90px;
    font-weight: 300;
}

.bold{
    font-size: 120px;
    font-weight: bolder;
}

p{
    font-size: 20px;
    font-weight: 320;
    margin: 30px 0;
}

.btn{
    font-size: 13px;
    border-radius: 2px;
    padding: 15px;
}

#more{
    color: gray;
    font-size: 14px;
    margin: 0 15px;
}
@media(max-width: 740px){
    h1{
        font-size: 60px;
    }
    .bold{
        font-size: 100px;
    }
    p{
        font-size: 15px;
    }
}